<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page_title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="theme.scss" type="text/css">
  <link rel="stylesheet" href="tablet-and-desktop.scss" type="text/css" media="screen and (min-width: 768px)">
  <meta name="google-site-verification" content="4S0fATlEIFisdtSDx6FBIeukDTniWEJebcp5aNK55rQ" />

  <!-- because ie8 ignores media queries, we need this -->
  <!--[if IE 8]>
    <link rel="stylesheet" href="tablet-and-desktop.scss" type="text/css">
  <![endif]-->


  <!--[if IE]>
  <link rel="stylesheet" href="ie.scss" type="text/css">
  <![endif]-->

  {{ content_for_header }}

  <script type="text/javascript">
    NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
  </script>

  <!-- Google Web Fonts -->
  <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Open+Sans:400italic,700italic,400,700:latin', 'Exo+2:700:latin', 'Lato:900:latin', 'Noticia+Text:400,400italic,700,700italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
  
  <script type="text/javascript" src="jquery.ui.effect.min.js"></script>
  <script type="text/javascript" src="jquery.ui.effect-slide.min.js"></script>
  <script type="text/javascript" src="staged-donations.js"></script>
  <script type="text/javascript" src="collective.js"></script>
  
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
</head>
<body class="aware-theme v2-theme {{ page.page_class_name }} js">
  <div id="pattern" class="pattern">
    <div class="wrap" id="wrap">
      <div id="body" class="page-{{ request.template | replace: '_', '-' }}">

        <div class="header-container clearfix {% if site.has_background_image? %}no-background{% endif %}">
          <div class="width-container clearfix" id="nav-container">

            {% include "nav" %}

            {% if site.has_meta_image? %}
              <div class="site-logo">
                <header><a href="/"><img src="{{ site.meta_image_url }}"></a></header>
              </div>
            {% else %}
              <header>
                <h1 class="title"><a href="/">{{ site.long_name }}</a></h1>
              </header>
            {% endif %}

          </div>
          <!-- .width-container -->
        </div>
        <!-- .header-container -->

        <div class="nav-placeholder clearfix"></div>
        		{% if site.has_header_image? %}
          		{% unless page.features_count > 0 %}
          			
									<div class="features-container">
           				<img src="{{ site.header_image_url_1026 }}" class="header-image" border="0" />
          			</div>
									
          		{% endunless %}
        		{% endif %}

        		{% if page.features_count > 0 %}
        			<div class="features-container">
        				{% include "features" %}
        			</div>
        		{% endif %}
        {% if page.slug == "home" %}
        	<div class="main-container" id="middle">
        {% else %}
        	<div class="main-container fix-positioning" id="middle">
        {% endif %}
        
          <div class="main width-container clearfix">



            {% if request.is_sidebar? %}
            {% include "columns_2" %}
            {% else %}
            {% include "columns_1" %}
            {% endif %}

          </div>
          <!-- .main -->
        </div>
        <!-- .main-container -->

        <div class="width-container">
          <footer class="clearfix">

            {{ content_for_footer }}

            <div class="row-fluid footer-activities">

              <div class="span8 footer-left desktop-visible">
                {% comment %}
          
                {% unless site.recent_supporters_with_pictures == empty %}
                
                <h5>Powered by people like you</h5>

                <div class="desktop-visible">
                  {% for signup in site.recent_supporters_with_pictures limit:16 %} 
                    {{ signup.smaller_profile_image }} 
                  {% endfor %}
                </div>

                <div class="mobile-visible">
                  {% for signup in site.recent_supporters_with_pictures limit:10 %} 
                    {{ signup.smaller_profile_image }} 
                  {% endfor %}
                </div>

                {% endunless %}
                {% endcomment %}

              </div>
              <div class="span4 footer-right footer-social-links">
                {% comment %}
                {% if site.has_facebook_page? %}<a href="{{ site.broadcaster.facebook_page_profile_url }}"><i class="icon-facebook-squared"></i></a>{% endif %}
                {% if site.has_twitter? %}<a href="{{ site.broadcaster.twitter_profile_url }}"><i class="icon-twitter-squared"></i></a>{% endif %}
                {% if page and page.has_rss? %}
                  <a href="{{ page.rss_url }}"><i class="icon-rss"></i></a>
                {% elsif page and page.has_parent? and page.parent.has_rss? %}
                  <a href="{{ page.parent.rss_url }}"><i class="icon-rss"></i></a>
                {% endif %}
                {% endcomment %}
              </div>
            </div>

            <div class="footer-content">

              {% if site.footer_content.size > 0 %}
              <div class="footer-text">{{ site.footer_content }}</div>
              {% endif %}

              <div class="row-fluid">

                <div class="span8 footer-left">
                  {% comment %}
                  {% if request.logged_in? %}
                    Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. View your
                    {% if site.show_public_profiles? %}
                      <a href="{{ request.current_signup.profile_url }}">public profile</a>,
                    {% endif %}
                    <a href="{{ request.current_signup.settings_url }}">account settings</a>, or
                    <a href="{{ request.current_signup.logout_url }}">sign out</a>.
                  {% else %}
                    Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a
                        href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.
                    <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                       You can style it or move it in different ways, but please leave it in the footer. -->
                         Created with <a href="http://nationbuilder.com/">NationBuilder</a>
                  {% endif %}
                  {% endcomment %}
                  <div class="privacy-policy">
                    <a href="http://creativecommons.org/licenses/by/4.0/" title="CC license">
                      <img src="cc.png" alt="CC license" /></a> NH Rebellion.
                    View our <a href="privacy_policy" title="Privacy policy">privacy policy</a>
                  </div>
                </div>
                <div class="span4 footer-right">
                  <div class="social-button" id="facebook-button">
                    <a href="https://www.facebook.com/nhrebellion" title="Facebook">
                    	<img src="facebook.svg" height="60px" width="60px" alt="Facebook" />
                  </a>
                  </div >
                  <div class="social-button" id="twitter-button">
                    <a href="https://twitter.com/nhrebellion" title="Twitter">
                      <img src="twitter.svg" height="60px" width="60px" alt="Twitter" />
                    </a>
                  </div>
                  <div class="social-button" id="youtube-button">
                    <a href="https://www.youtube.com/user/NHRebellion" title="YouTube">
                      <img src="youtube.svg" height="60px" width="60px" alt="YouTube" />
                    </a>
                  </div>
                  <div class="social-button" id="flickr-button">
                    <a href="https://www.flickr.com/photos/130196382@N08/sets/" title="Flickr">
                      <img src="flickr.svg" height="60px" width="60px" alt="Flickr" />
                    </a>
                  </div>
                  {% comment %} <!--default NB social -->
                  {% if site.has_twitter? %} 
                  <div class="footer-social-button">
                    <a href="{{ site.broadcaster.twitter_profile_url }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.broadcaster.twitter_login }} on Twitter</a>
                  </div>
                  {% endif %}

                  {% if site.has_facebook_page? %}
                  <div class="footer-social-button"><fb:like style="height: 20px; vertical-align: top;" href="{{ site.broadcaster.facebook_page_profile_url }}" colorscheme="dark" width="292"></fb:like></div>
                  {% else %}
                  <div class="footer-social-button"><fb:like href="{{ site.full_url }}" colorscheme="dark" width="292"></fb:like></div>
                  {% endif %}
                  {% endcomment %}
                </div>

              </div>
            </div>

          </footer>
        </div>
        <!-- .width-container -->

      </div>
      <!-- #body -->
    </div>
    <!-- #wrap -->
  </div>
  <!-- #pattern -->

{% if site.has_background_image? %}
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
  <script type="text/javascript">
    jQuery.backstretch("{{ site.background_image_url }}", {speed: 0});
  </script>
  <![endif]-->
  <style>
    body {
      background: url('{{ site.background_image_url }}') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .main.width-container {
      overflow-x: hidden;
    }
</style>
{% endif %}
</body>
</html>

